// commmon styles
.navbar {
  box-sizing: border-box;
  justify-content: space-between;

  // ul
  &-nav {
    align-self: center;

    // li
    .nav-item {
      display: inline;
      margin-right: 15px;

      &.active .nav-link {
        &::after {
          content: "";

          width: 100%;
          position: absolute;
          left: 0;
          bottom: -2px;

          border-width: 0 0 1px;
          border-style: solid;
        }
      }

      // a
      .nav-link {
        color: grey;
        font-weight: 300;
        text-decoration: none;
        position: relative;

        &:hover {
          color: black;
        }
      }

      .nav-link:hover::after {
        content: "";

        width: 100%;
        position: absolute;
        left: 0;
        bottom: -2px;

        border-width: 0 0 1px;
        border-style: solid;
      }
    }
  }

  // brand
  &-brand {
    align-self: center;

    img {
      height: 85px;
    }
  }

  ul.menu {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar > .container {
    max-width: 940px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .navbar > .container {
    max-width: 1110px;
    margin: 0 auto;
  }
}

// large screens
@media (min-width: 846.1px) {
  .navbar {
    padding: 15px;

    .nav-item {
      &.active .nav-link {
        color: black;
        font-weight: 500;
      }
    }

    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

// small screens
@media (max-width: 846px) {
  .navbar {
    width: 100%;

    &-nav,
    &-brand {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-nav {
      background: #000;
      display: none;
      flex-direction: column;

      .nav-item {
        padding-bottom: 12px;
        display: block;
        text-align: center;

        .nav-link {
          color: grey;

          &:hover {
            color: white;
          }
        }
      }

      .nav-item.active {
        .nav-link {
          color: white;
        }
      }
    }

    .navbar-nav.show {
      display: block;
    }

    &-brand {
      padding: 25px 0;
    }

    ul.menu {
      display: block;
      background-color: black;
      color: white;
      text-align: center;
      padding: 15px 0;

      li {
        list-style: none;
        display: inline-block;
        cursor: pointer;
      }
    }
  }
}
